*cache*
.venv
.python-version
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
database/database/postgres_data